{% extends "base.html" %}

{% block content %}
  <h1>{{ request.user.username }}</h1>
  <p>Aktuální úroveň: {{ lvl_aktual }}</p>
  <p>Potřebné XP pro další úroveň: {{ XP_potrebne_next }}</p>
  <p>Aktuální XP: {{ XP_aktual }}</p>
  <ul>
    <li>Objednávky: {{ request.user.orders }}</li>
    <li>Goldy: {{ request.user.gold }}</li>
  </ul>

  <h2>Aktualizovat objednávky</h2>
  <form method="post">
      {% csrf_token %}
      <input type="hidden" name="action" value="update_orders">
      <label for="orders">Zadejte novou hodnotu objednávek:</label>
      <input type="number" name="orders" id="orders" required>
      <button type="submit">Aktualizovat</button>
  </form>

  <hr>

  <h2>Sběr goldů</h2>
  <form method="post">
      {% csrf_token %}
      <input type="hidden" name="action" value="collect_gold">
      <p>Máte k dispozici k sebrání {{ collected_gold }} goldů.</p>
      <p>Maximální počet goldů: {{ gold_limit }} / 8h</p>
      <p>Goldy za hodinu: {{ gold_per_hour }} / h</p>
      <button type="submit">Vybrat goldy</button>
  </form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

  <form method="post" action="{% url 'logout-url' %}">
      {% csrf_token %}
      <button type="submit">Odhlásit se</button>
  </form>
  <a href="{% url 'protected-page-url' %}">Chráněná stránka</a>
{% endblock content %}