{% extends "base.html" %}

{% block content %}
  <h1>{{ request.user.username }}</h1>
  <p>Aktuální úroveň: {{ lvl_aktual }}</p>
  <p>Potřebné XP pro další úroveň: {{ XP_potrebne_next }}</p>
  <p>Našetřeno XP: {{ XP_aktual }}</p>

  <p>HP: {{ atributy.HP }}</p>
  <p>Charisma: {{ atributy.charisma }}</p>
  <p>Dexterity: {{ atributy.dexterity }}</p>
  <p>Intelligence: {{ atributy.intelligence }}</p>
  <p>Skill: {{ atributy.skill }}</p>
  <p>Strength: {{ atributy.strength }}</p>
  <p>Vitality: {{ atributy.vitality }}</p>

  <ul>
    <li>Kroky: {{ request.user.steps }}</li>
    <li>Goldy: {{ request.user.gold }}</li>
  </ul>

  <h2>Aktualizovat kroky</h2>
  <form method="post">
      {% csrf_token %}
      <input type="hidden" name="action" value="update_steps">
      <label for="steps">Zadejte novou hodnotu kroků:</label>
      <input type="number" name="steps" id="steps" required>
      <button type="submit">Aktualizovat</button>
  </form>

  <hr>

  <h2>Sběr goldů</h2>
  <form method="post">
      {% csrf_token %}
      <input type="hidden" name="action" value="collect_gold">
      <p>Máte k dispozici k sebrání {{ collected_gold }} goldů.</p>
      <p>Maximální počet goldů: {{ gold_limit }} / 8h</p>
      <p>Goldy za hodinu: {{ gold_per_hour }} / h</p>
      <button type="submit">Vybrat goldy</button>
  </form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

  <form method="post" action="{% url 'logout-url' %}">
      {% csrf_token %}
      <button type="submit">Odhlásit se</button>
  </form>
  <a href="{% url 'protected-page-url' %}">Chráněná stránka</a>
{% endblock content %}